body {
  padding-top: 4.5rem;
  overflow: scroll;
  background-color: #ffccbc;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 60px;
  background-color: #77a6f7;
}

.jumbotron {
  background-color: #00887a;
  color: #ffffff;
  font-family: georgia;
}

.navbar {
  background-color: #ffccbc;
}

#post {
  display: flex;
  justify-content: center;
}

#post {
  display: flex;
  justify-content: center;
}

.user-input {
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-img-top {
  height: 150px;
  background-color: #00887a;
}

.card-img-top {
  height: 150px;
  background-color: #ffccbc;
}
