/* style */

body {
  padding-top: 4.5rem;
  overflow: scroll;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 60px;
}

label {
  margin-left: 15px;
}

#post {
  display: flex;
  justify-content: center;
}

#post {
  display: flex;
  justify-content: center;
}

.btn-primary {
  margin-bottom: 10px;
}

.user-input {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
}

.card-img-top {
  height: 150px;
}

.card-img-top {
  height: 150px;
}

.card {
  margin-bottom: 10px;
}

.modal-body p {
    word-wrap: break-word;
}
