body {
  padding-top: 4.5rem;
  overflow: scroll;
  background-color: #5cdb95;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 60px;
  background-color: #379683;
}

#post {
  display: flex;
  justify-content: center;
}

.user-input {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #8ee4af;
}

.card-img-top {
  height: 150px;
}
